<component name="ArtifactManager">
  <artifact type="war" name="spring-MVC-demo5:war">
    <output-path>$PROJECT_DIR$/spring-MVC-demo5/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>false</exploded>
        <module>spring-MVC-demo5</module>
        <packaging>war</packaging>
        <unpackNestedArchives>false</unpackNestedArchives>
      </options>
    </properties>
    <root id="archive" name="spring-MVC-demo5-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-MVC-demo5:war exploded" />
    </root>
  </artifact>
</component>